# Virtual Environments
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# Machine Learning & Datasets
Dataset/
weights/
*.pkl
*.pt
*.pth
*.h5
*.onnx

# Logs
*.log

# Project specific ignores
top-1m.txt
*.pdf
Likely Trash/
converted_md_files/
